* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

nav {
  height: 10vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  font-size: 0;
}

.logo-section {
  display: inline-block;
  width: 15vw;
  height: 10vh;
  line-height: 10vh;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #444;
}

.menu {
  display: inline-block;
  width: 65vw;
  height: 10vh;
  text-align: center;
  vertical-align: middle;
  font-size: 1vw;
}

.menu li {
  display: inline-block;
  margin: 0 1.5vw;
  line-height: 10vh;
}

.menu a {
  text-decoration: none;
  color: #999;
  font-weight: 600;
}

.menu a:hover {
  color: #29a6ff;
}

.user-section {
  display: inline-block;
  width: 20vw;
  height: 10vh;
  text-align: center;
}

.user-wrapper {
  display: inline-block;
  padding: 15px 30px;
  background: #def1ff;
  border-radius: 0.6vw;
  color: #29a6ff;
  font-weight: 600;
  font-size: 0.9vw;
}

.hero-section {
  margin-top: 10vh;
  height: calc(100vh - 10vh);
  width: 100vw;
  background: #fafafa;
  font-size: 0;
  /* border: 2px solid black; */
}

.left-view {
  position: relative;
  display: inline-block;
  width: 50vw;
  height: 100%;
  padding: 0 80px;
  font-size: 16px;
  /* border: 1px solid black; */
}

.left-view-content {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
}

.left-view > .left-view-content > h1 {
  font-size: 48px;
  color: #555f69;
  margin-bottom: 10px;
  line-height: 65px;
}

.left-view > .left-view-content > h2 {
  font-size: 40px;
  color: #29a6ff;
  margin-bottom: 10px;
}

.left-view > .left-view-content > p {
  color: #96a0aa;
  line-height: 1.7;
  margin-bottom: 20px;
  width: 80%;
}

.left-view > .left-view-content > button {
  padding: 20px 60px;
  border: none;
  background: linear-gradient(90deg, #3daaf8, #40b4ff);
  color: white;
  font-size: 16px;
  border-radius:  20px;
  cursor: pointer;
}

.left-view > .left-view-content > button:hover {
  opacity: 0.9;
}

.right-view {
  display: inline-block;
  width: 50vw;
  height: 100%;
  vertical-align: top;
  text-align: center;
  padding-top: 10vh;
}

.right-view img {
  width: 35vw;
  height: auto;
  transform: scaleX(-1);
}

/* media quary for width <= 1024px or max-width: 1024px */
/* @media (width <= 1024px) {
  
} */
@media (max-width: 1024px) {
  .nav {
    display: flex;
  }
  .menu {
    font-size: 12px;
  }
  .right-view {
    position: relative;
    width: 50vw;
    height: 100%;
    text-align: center;
  }

  .right-view img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(-1);
    width: 55vw;
    height: auto;
  }
}

/* for tablet */
/* media quary for width <= 768px or max-width: 768px */
/* @media (width <= 768px) {
  
} */
@media (max-width: 768px) {
  .nav {
    display: flex;
  }
  .user-wrapper {
    font-size: 12px;
  }
  .menu {
    font-size: 12px;
  }
  .left-view > .left-view-content > h1 {
    font-size: 38px;
    line-height: 45px;
  }

  .left-view > .left-view-content > h2 {
    font-size: 30px;
  }

  .left-view > .left-view-content > p {
    line-height: 1.5;
  }

  .left-view > .left-view-content > button {
    padding: 20px 60px;
    font-size: 14px;
  }
  .right-view {
    position: relative;
    width: 50vw;
    height: 100%;
    text-align: center;
  }

  .right-view img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(-1);
    width: 45vw;
    height: auto;
  }
}

/* for Mobile */
/* media quary for width <= 480px or max-width: 480px */
/* @media (width <= 480px) {
  
} */
@media (max-width: 480px) {
  nav {
    /* display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 10px;  */
    padding: 0 20px;
  }
  .menu {
    display: none;
  }
  .user-section {
    position: absolute;
    top: 30%;
    right: 0;
    width: auto;
    padding-right: 20px;
  }
  .user-wrapper {
    font-size: 14px; 
    padding: 8px 15px; 
    border-radius: 10px;
  }
  .menu {
    display: none;
  }
  .hero-section {
    display: flex;
    flex-direction: column;
  }
  .left-view {
    padding: 0;
    margin-top: 50px;
  }
  .left-view > .left-view-content{
    /* width: 100%; */text-align: left;
  }
  .left-view, .right-view  {
    width: 100%;
  }
  .left-view > .left-view-content > h1 {
    font-size: 38px;
    line-height: 45px;
  }

  .left-view > .left-view-content > h2 {
    font-size: 30px;
  }

  .left-view > .left-view-content > p {
    line-height: 1.5;
  }

  .left-view > .left-view-content > button {
    padding: 20px 60px;
    font-size: 14px;
  }

  .right-view img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(-1);
    width: 85vw;
    height: auto;
  }
}
